body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #111111;
  font-size: 16px;
}

div.grid_4 {
  background-color: #eeeeee;
  margin-bottom: 20px;
}

.header {
  font-size: 220%;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

div.unicorn {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;
  padding: 16px 0px 5px 10px;
}

div.unicorn label { 
  text-align:right; 
}
div.unicorn label:after { 
  content: ": "; 
}

.location{
  font-size: 100%;
}
.unicorn_name{
  font-size: 150%;
  font-weight: bold;
}

.comments{
  font-style: italic;
  font-size: 60%;
}